name: Image digest update

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  image-update:
    name: Image digest update
    runs-on: ubuntu-latest

    permissions:
      contents: write # Permissão para escrever no repositório
      pull-requests: write # Permissão para abrir PRs
      id-token: write # Necessário para solicitar o JWT (JSON Web Token)

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Update image digests
        uses: chainguard-dev/digestabot@a3b776c1ca57d3127c85578cde8fef6eed3c75d3 # v1.2.3
        with:
          token: ${{ secrets.USER_TOKEN }}
          signoff: true
          author: "Natália Granato <nataliagranato@ufmg.br>"
          committer: "Natália Granato <nataliagranato@ufmg.br>"
          labels-for-pr: "automated pr, kind/cleanup, release-note-none"
          branch-for-pr: "update-digests"
          title-for-pr: "Update images digests"
